[Unit]
Description=Slyp API

[Service]
Restart=always
User=vagrant
Group=vagrant

Environment=RAILS_ENV=development PATH=/usr/lib64/rbenv/versions/1.9.3-p551/bin:/usr/lib64/rbenv/shims:/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/sbin:/usr/local/bin
WorkingDirectory=/var/www/identity
ExecStart=/usr/lib64/rbenv/versions/1.9.3-p551/bin/puma -e vagrant -C /var/www/identity/config/puma.rb
LimitNOFILE=60000

[Install]
WantedBy=multi-user.target